pgdata
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.vscode
public/static/
public/media/
logs/
backup/
redis-4.0.1/
app/public/media/**
app/public/static/**
trash/**
dockerfiles
**/celerybeat-schedule
**/celerybeat.pid
