{% extends "mine/admin/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% with original=object.raw_text %}
  <div class="card-group">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1"><spam class="badge badge-pill badge-info">#{{original.pk}}</spam></div>
          <div class="col-11">{{original.creator}}</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Original</h5>
        <p class="card-text">
          {{original.content}}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1"><spam class="badge badge-pill badge-info">#{{object.pk}}</spam></div>
          <div class="col-11">{{object.moderator}}</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Moderation</h5>
        <p class="card-text">
          {{object.content}}
        </p>
      </div>
    </div>
  </div>
  {% endwith %}
{% endblock %}