{% extends "mine/admin/base.html" %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Content</th>
            <th>Creator</th>
            <th>Moderate</th>
          </tr>
        </thead>
        <tbody>
        {% for text in object_list %}
          <tr>
            <td><a href="{% url 'mine:admin-raw-text-detail' text.pk %}">{{ text.pk }}</a></td>
            <td>{{ text.short_text }}</td>
            <td>{{ text.creator.email }}</td>
            <td><a href="{% url 'mine:admin-raw-text-moderate' text.pk %}">moderate</a></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{% url 'mine:admin-raw-text-create' %}">
            <button type="button" class="btn btn-primary btn-lg btn-block">
                Add text
            </button>
        </a>
    </div>
{% endblock %}