{% extends "mine/moderator/base.html" %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Original</th>
            <th>Content</th>
            <th>Creator</th>
            <th>Moderator</th>
          </tr>
        </thead>
        <tbody>
        {% for text in object_list %}
          <tr>
            <td><a href="{% url 'mine:moderator-moderated-text-detail' text.pk %}">{{ text.id }}</a></td>
            <td><a href="{% url 'mine:moderator-raw-text-detail' text.raw_text.pk %}">reference</a></td>
            <td>{{ text.short_text }}</td>
            <td>{{ text.raw_text.creator }}</td>
            <td>{{ text.moderator.email }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}