{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/css/base.css' %}"/>
{% endblock %}

{% block navigation %}
    <li class="nav-item active">
        <a class="nav-link" href="#TODO">About</a>
    </li>
{% endblock %}

{% block topright %}
    <a href="###"><button class="btn btn-outline-success" type="submit">Sign In</button></a>
    <a href="{% url 'authentication:registration' %}"><button class="btn btn-outline-success" type="submit">Sign Up</button></a>
{% endblock %}


{% block stage %}
    <div class="col-2"></div>
    <div class="col-8 content-block">
        {% block content %}
        {% endblock content%}
    </div>
    <div class="col-2"></div>
{% endblock %}