{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'mine/css/base.css' %}"/>
{% endblock %}

{% block topright %}
<img src="{% static 'base/img/logo.png' %}" height="30px" width="30px" class="rounded-circle" alt="...">
{% endblock %}

{% block stage %}
    <div class="col-2 menu-block">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {% block menu %}
          {% endblock %}
        </div>
    </div>
    <div class="col-9 content-block">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-1"></div>
{% endblock %}
