{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'mine/css/base.css' %}"/>
{% endblock %}

{% block topright %}
Some shit
{% endblock %}

{% block stage %}
    <div class="col-2 menu-block">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {% block menu %}
          {% endblock %}
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              Settings
          </a>
        </div>
    </div>
    <div class="col-9 content-block">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-1"></div>
{% endblock %}
